<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="std_id" content="MEE850197000">
        <title>NOI | Portal credentials</title>
        <style type="text/css">

            html, body, span, p, td , tr, h1, h2, h3, h4, a {
                padding: 0;
                margin: 0;
                -ms-text-size-adjust: none;
                -webkit-font-smoothing: antialiased !important;
                -moz-osx-font-smoothing: grayscale;
                font-family: 'Roboto', Helvetica, Arial, sans-serif;
            }

            body {
                width: 100% !important;
                height: 100%;
                background: #ffffff !important;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#5e35b1" style="background-color: #5e35b1">

        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="background: url('./img/index.png'); background-repeat: no-repeat; background-position: center center; background-size: cover;background-color: #5e35b1">
            <tr>
                <td style="padding: 50px 10px 50px 10px">
                    <table style="max-width: 700px;width: 100%;min-height: 500px;min-width: 300px;background-color: rgb(248, 248, 248);border-radius: 4px;" align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table style="width: 130px;padding-top: 1em;padding-bottom: 1em" align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <img src="./img/NOI_LOGO_ORG_small-2.png" style="display: block;max-width: 100%;height: auto;" alt="">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="background-color: #412579;color: #ffffff" align="center" border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><p style="text-align: center;font-weight: bold;font-size: 1.5em;padding: 1em 5px 13px 5px;">National Olympiad in Informatics</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="text-align: center;font-size: 0.8em;padding: 0 5px 1em 5px;font-weight: bold"><span style="border-top: 2px solid #ffffff;padding: 5px 7px 0 7px">Learning Environment</span></p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" style="width: 100%;padding: 50px 0 100px 0" align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><p style="font-size: 2em;color:#5e35b1;text-align: center;padding: 1em">Thank you !</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="padding: 1em">Your login credentials for the learning environment,</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="padding: 1em;padding-left: 2em;padding-bottom: 5px">Username : bla bla lba</p></td>
                                    </tr>
                                    <tr>
                                        <td><p style="padding: 1em;padding-left: 2em;padding-top: 0">Password : 12345</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" style="background-color: #412579;width: 100%;color: #ffffff;padding: 1em 5px 1em 5px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px" align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <table style="height: 100px;" align="center" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="padding: 1em">
                                                        <a target="_blank" href="https://www.facebook.com/srilankaioi/">
                                                            <p style="background-color: #38bfae;padding: 9px;border-radius: 50%">
                                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="width: 25px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve">
                                                                    <g>
                                                                        <path id="f_1_" style="fill:#412579;" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184
                                                                            c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452
                                                                            v20.341H37.29v27.585h23.814v70.761H89.584z"/>
                                                                    </g>
                                                                </svg>
                                                            </p>
                                                        </a>
                                                    </td>
                                                    <td style="padding: 1em">
                                                        <a target="_blank" href="">
                                                            <p style="background-color: #38bfae;padding: 9px;border-radius: 50%">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" style="width: 25px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve">
                                                                    <g id="XMLID_822_">
                                                                        <path id="XMLID_823_" style="fill:#412579;" d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938   C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527   C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991   c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764   c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861   C204.394,157.263,202.325,160.684,199.021,162.41z" fill="#2a1750"/>
                                                                    </g>
                                                                </svg>
                                                            </p>
                                                        </a>
                                                    </td>
                                                    <td style="padding: 1em">
                                                        <a target="_blank" href="">
                                                            <p style="background-color: #38bfae;padding: 9px;border-radius: 50%">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" style="width: 25px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                                                    <g>
                                                                        <g>
                                                                            <path style="fill:#412579;" d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411    c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513    c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101    c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104    c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194    c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485    c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z" fill="#5e35b1"/>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                            </p>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p style="text-align: center;font-size: 0.7em;border-top: 1px solid #331e5c;padding-top: 1em">Copyright © 2019 NOI. All right reserved.</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
    </body>
</html>